<style>
	#corpo {
		background-color: #faa61a;
		width: 760px;
		height: 760px;
		display: block;
		margin: 0 auto;
		border: none;
	}
	.spacer-sic {
		display: block;
		width: 100%;
		height: 90px;
	}

	.spacer-sic-2 {
		display: block;
		width: 100%;
		height: 50px;
	}

	#logo {
		display: block;
		margin: 0 auto;
	}

	.texto-normal {
		font-family: Helvetica, Arial, sans-serif;
		display: block;
		width: 500px;
		height: auto;
		margin: 0 auto;
		text-align: center;
		font-size: 20px;
		color: #fff;
		letter-spacing: .5;
	}

	.texto-normal span {
		font-weight: bold;
		text-decoration: underline;
		font-size: 22px;
	}

	.texto-small {
		font-family: Helvetica, Arial, sans-serif;
		display: block;
		width: 500px;
		height: auto;
		margin: 0 auto;
		text-align: center;
		font-size: 12px;
		color: #fff;
		letter-spacing: .5;
	}

	.texto-small span {
		font-weight: bold;
		text-decoration: underline;
		display: block;
		clear: both;
	}
	
	.down-img {
		display: block;
		margin: 0 auto;
	}

</style>

<div id="corpo">
	<div class="spacer-sic"></div>
	<img src="http://sicapps.com.br/link/tool/imgs/logo.png" id="logo">
	<div class="spacer-sic"></div>
	<p class="texto-normal">O arquivo <span>asdfg.zip</span> foi compartilhado com voc&ecirc;.</p>
	<p class="texto-normal">Clique no &iacute;cone abaixo para baix&aacute;-lo:</p>
	<div class="spacer-sic-2"></div>
	<a href="#">
		<img src="http://sicapps.com.br/link/tool/imgs/download.png" class="down-img">
	</a>
	<div class="spacer-sic-2"></div>
	<p class="texto-small">Ou cole o seguinte link no seu navegador: <span>http://sicapps.com.br/link/asdfg.zip</span></p>
</div>